.git
.gitignore
config/
.env
.env.example
*.md
LICENSE
assets/
!LICENSE
!examples/appfactory/templates/**/*.md
!examples/appfactory/generic/**/*.md
build
build/
build/**
.appfactory
.appfactory/
.appfactory
.appfactory/
workspace
workspace/
workspace/**
/workspace
/workspace/**
**/node_modules
**/node_modules/
node_modules
node_modules/
web/frontend/node_modules
web/frontend/node_modules/
web/frontend/dist
web/frontend/dist/
web/backend/dist
web/backend/dist/
